*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
h1{
    color: #3dbae0;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
/*------------------DAY 14-------------------*/
.col-2 img{
    max-width: 100%;
    margin: 10px;
    margin-left: 40%;
    padding: 10px 0;
}
col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #ffff;
}
.btn{
    display: inline-block;
    background-color: #20b0e9;
    color: #ffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.header{
    background: radial-gradient(#fff,#e9b3d2);
}
/*---------------------Features products page------------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #3be8ff;
    padding: 5px;
}
select:focus{
    outline: none;
}
.small-container{
    flex-basis: 34%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 15px;
    cursor: pointer;
    display: flex;
}
.bi-star-fill{
    color: rgb(240, 158, 52);
}
.col-4 img{
    margin: 100%;
}